<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>phaselimiter-gui</string>
	<key>CFBundleIdentifier</key>
	<string>com.phaselimiter.gui</string>
	<key>CFBundleName</key>
	<string>PhaseLimiter</string>
	<key>CFBundleDisplayName</key>
	<string>PhaseLimiter</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.15</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSUIElement</key>
	<false/>
	<key>CFBundleIconFile</key>
	<string>PhaseLimiter.icns</string>
</dict>
</plist> 